@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-mint-500: oklch(0.72 0.11 178);

    /* fonts*/
    --font-montserrat: font-family: "Montserrat", sans-serif;
    --font-notosans: "Noto Sans JP", sans-serif;

}

@utility no-scrollbar {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}